<!DOCTYPE html>
<html>
<head>
  <title>Refinery trix</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "refinery/trix/application", media: "all" %>
  <%= javascript_include_tag "refinery/trix/application" %>
</head>
<body>

<%= yield %>

</body>
</html>
